<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error - Rent a Car</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
<header>
    <h1>Something went wrong!</h1>
</header>
<section>
    <div class="error-message">
        <p th:text="${errorMessage}">An unexpected error occurred.</p>
        <a th:href="@{/home}">Return to Home</a>
    </div>
</section>
</body>
</html>