<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rent a Car - Home</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<header>
    <h1>Welcome to Rent a Car</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>
</header>

<main>
<section>
    <h2>Available Cars</h2>
    <div class="car-list">
        <div th:each="car : ${availableCars}" class="car-item">
            <h3 th:text="${car.brand} + ' ' + ${car.model}"></h3>
            <img th:src="${car.imgUrl}" alt="Car Image" style="width:250px; height:auto;">
            <p>Type: <span th:text="${car.type}"></span></p>
            <p>Price per week: $<span th:text="${car.pricePerWeek}"></span></p>
        </div>
    </div>
</section>
    </main>


</body>
</html>