<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login - Rent a Car</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<header>
    <h1>Login to Rent a Car</h1>
</header>

<section>
    <form th:action="@{/login}" method="post" th:object="${loginRequest}">

        <!-- Username -->
        <div>
            <label for="username">Username:</label>
            <input type="text" placeholder="Username" id="username"  th:field="*{username}"required/>
        </div>

        <!-- Password -->
        <div>
            <label for="password">Password:</label>
            <input type="password" placeholder="Password"  id="password" th:field="*{password}" required/>
        </div>

        <button type="submit">Login</button>
    </form>

    <!-- Грешка при неправилен логин -->
    <div th:if="${errorMessage}" style="color: red;">
        <p th:text="${errorMessage}"></p>
    </div>

    <!-- Линк към регистрация -->
    <p>Don't have an account? <a th:href="@{/register}">Register here</a></p>

</section>

<footer>
    <p>&copy; 2025 Rent a Car. All rights reserved.</p>
</footer>

</body>
</html>
